
{% extends 'base.html' %}
{% block title %}
Login
{% endblock title %}

{% block content %}

<div class="card mx-auto" style="max-width: 380px; margin-top:100px;">
    <div class="card-body">
        <h4 class="card-title mb-4">
            Sign in
        </h4>
        <form method="POST">
            {% csrf_token %}
            {{form.as_p}}
            <div class="form-group">
                <button class="btn btn-primary btn-block">Login</button>
            </div>
        </form>
    </div>    
</div>
<p class="text-center mt-4"> Don't have account? <a href="{% url 'register' %}">Sign up</a></p>




{% endblock content %}